#body {
    background-color: linear-gradient(red, yellow);
}
.tableContainer {
    width: 800px;
    height: 200px;
   
    margin: auto;
    margin-top:5%;
    width: 50%;

}

.buttonContainer {
    text-align: center;
}