.card{
    height: 70%;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
p.card-text.text-center {
    font-size: 100px;
}
.card-img-top{
    align-self: center;
}

button{
    margin-right: 20px;
    margin-left: 20px;
}
.category-name{
    color: red;
}
.badge-name{
    color: white;
    width: 100%;
    background-color: rgb(92, 179, 185);
}
.dash-badge{
    color: black;
    width: 30%;
}
.crdbtn,.del{
    width: 40%;
    font-size:large;
}
@media all and (max-width: 770px) {
    .badge dash-badge{
        visibility: hidden;
    }
}